<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <title>Document</title>
</head>
<body>
    <h1>Principais produções</h1>
    <p>Love me Tender (1956)<br>
        Álbum da trilha sonora do primeiro filme de Elvis Presley com o mesmo título.<br> 
        A Canção “Love me Tender” foi hit da época, juntamente com “Any Way You Want Me’’<br> 
        que alcançou o primeiro lugar nos sucessos da Billboard dos EUA.
        </p>
    <img src="../public/lovemetender.jpeg" alt="Elvis love me tender">
    <br>
    <p>Elvis is Back! (1960)<br>
        A volta de Elvis após o exército veio de maneira menos rebelde e mais madura,<br> 
        com canções de rock, baladas e blues. Os destaques ficam para “Such a Night”, “Reconsider Baby” e “Fever”.
    </p>
    <img src="../public/elvisback.jpeg" alt="Elvis elvis back">
    <br>
    <p>Elvis Aloha From Hawaii (1973)<br>
        Mais um disco ao vivo de Elvis.Gravado em um show feito no Hawaii e que foi transmitido ao vivo via-satélite para o mundo.<br>
        É composto por vários hits e foi uma das obras mais marcantes do cantor nos últimos anos de vida.
    </p>
    <img src="../public/elvisaloha.jpeg" alt="elvis aloha from hawaii">
</body>
</html>